<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/home.css">
    <title>Css text generate</title>
</head>
<body>
    <header>
        <h1>generate text gradiente</h1>
        <span>
            Crie e incorpore textos gradientes deslumbrantes instantaneamente usando CSS ou HTML. 
            <br> Simples, eficiente e perfeito para desenvolvedores que buscam aprimorar seus projetos.
        </span>
    </header>
    <main>

    </main>
    <footer>
        made by <strong>alison simião</strong>
    </footer>
</body>
</html>